{% extends "base.html" %}

{% block main_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/collection.css' %}" />
<script src="{% static 'js/scripts.js' %}"></script>


<style>
    .filtr-c form {
        display: none;
    }
</style>
<div class="c-col">
    <div class="filtr-c">
        <img src="{% static 'images/filter_3839020.png' %}" class="filtr-img" alt="Фильтр" id="filterImage">
        <form method="get" id="filterForm" class="f-f">
            {{ form.as_div }}
            <button type="submit"><span>ОТФИЛЬТРОВАТЬ</span></button>
        </form>
    </div>
</div>
 {% comment %} <ul>
    {% for sample in samples %}
        <li>{{ sample.title }}</li>
        <li><img src="{{ sample.image.url }}" class = "img_co"></li>
    {% endfor %}
</ul>  {% endcomment %}

<div class = 'collections'>
    {% for co in collections %}
       <div class= 'col-on'> 
            <img src="{% static 'images/favorite_3221898.png' %}" class="favorit-img" alt="Избранное" id="favoritImage">
            <img src="{{ co.image.url }}" class='image-u'>
            <p>{{ co.title }} </p>
       </div>                 
    {% endfor %}
</div>


{% comment %} <div class="cont-page-paginator">
    <nav class="list-pages">
        <ul>
            {% for p in paginator.page_range %}
                       {% if page_obj.number == p %}
            <li class="page-num page-num-selected">{{ p }}</li>
                       {% else %}
            <li class="page-num">
                <a href="?page={{ p }}">{{ p }}</a>
            </li>
                       {% endif %}
            {% endfor %}
        </ul>
    </nav> 
</div>
   {% endcomment %}
</div>

<script src="{% static 'js/scripts.js' %}"></script>
{% endblock main_content %}