{% extends "base.html" %}

{% block main_content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/collection.css' %}" />
<script src="{% static 'js/scripts.js' %}"></script>
<style>
    .filtr-c form {
        display: none;
    }
</style>
<div class="c-col">
    <div class="filtr-c">
         <img src="{% static 'images/settings.png' %}" class="filtr-img" alt="Фильтр" id="filterImage">
        <form method="get" id="filterForm" class="f-f">
            {{ form.as_div }}
            <button type="submit" class = 'filtr-b'><span>ОТФИЛЬТРОВАТЬ</span></button>
        </form> 
    </div>
    
</div>

<div class = 'collections'>
    {% for co in collections %}
       <div class= 'col-on'> 
            <img src="{{ co.image.url }}" class='image-u'>
            <p>{{ co.title }} </p>
       </div>   
    {% endfor %}
</div>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock main_content %}