{% extends "base.html" %}

{% block main_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/user_agreement.css' %}" />

<p class = "p_title"> {{title}}</p>
<div class="block-content">
    <h2>ПОЛИТИКА ПО ОБРАБОТКЕ И ЗАЩИТЕ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
   
    <div class="block-text">
        <div>
            ООО "Ann" считает, что пользователь, регистрируясь и осуществляя доступ к Интернет-ресурсам, 
            ознакомлен с настоящим Регламентом, выражает свое согласие с ним и принимает на себя указанные 
            в нем права и обязанности. Согласие осуществляется в форме и на условиях, установленных для пользователей
            в Правилах пользования проектами и сервисами ООО "Ann".
            В случае несогласия пользователя с настоящим Регламентом использование 
            Интернет-ресурсов должно быть прекращено.
        <div>
            Компания ООО «Ann» берет на себя обязательства по защите Ваших персональных данных.
            Просим Вас ознакомиться с данной Политикой по защите персональных данных (далее — Политика).
        </div>
        <div>    
            Политика определяет условия и цели сбора, хранения, защиты, обработки и 
            распространения информации о Пользователях ресурсов 
        </div>

    </div>

    <h2>ПОЛУЧЕНИЕ И ИСПОЛЬЗОВАНИЕ ЛИЧНОЙ ИНФОРМАЦИИ</h2>
    <div class="block-text2">
        <div>
            Пользователи предоставляют ООО «Ann», как оператору персональных данных, 
            свои персональные данные, в том числе, имя, фамилию и иные данные, используемые для идентификации личности,
            псевдоним (в случае использования мессенджеров Whatsup, Viber, Telegram),
            а также свои контактные данные, включая адрес электронной почты, телефон, адрес местонахождения 
            и/или временной регистрации и полное и безоговорочное согласие, совершенное своей волей на обработку 
            ООО «Ann» (в том числе, сбор, систематизацию, накопление, уточнение (обновление, изменение), 
            использование, распространение, обезличивание,
            блокирование, уничтожение персональных данных, бессрочное хранение), 
            вышеуказанных данных в электронном виде и/или на бумажных носителях для 
            целей рассылки приглашений на официальные мероприятия, новостной рассылки,
             рассылки опросов, информирования о новых продуктах ООО «Ann» и иной информации, 
            в том числе рекламного характера, посредством почтового отправления, смс-оповещения, 
            сообщений в мессенджерах (Whatsup, Viber, Telegram) либо электронной почты.
            Вышеуказанные персональные данные Пользователей ООО «Ann» вправе передавать в АО «Интернет-portal»
             для использования в целях, перечисленных в настоящем абзаце.
            Kроме того, ООО «Ann» имеет право осуществлять действия, направленные на программирование видов рассылок,
            указанных выше, исходя из тех видов индивидуальных особенностей 
            Пользователя, которые были предоставлены 
            Пользователем как при первоначальной регистрации на Сайте, так и в процессе пользования функционалом Сайта. 
            Хранение и обработка данных осуществляется только на территории РФ.
            Датой выдачи письменного согласия на обработку персональных данных
            Пользователя является дата ознакомления с настоящей Политикой, 
            выражающегося в отправке Анкеты посредством электронной связи на Сайте.
            Указанное согласие действует бессрочно и может быть отозвано Пользователем 
            (в т.ч. запрошено удаление персональных данных с сайта) 
            путем письменного уведомления, направленного в адрес ООО «Ann» посредством электронного сообщения.
        </div>    
    </div>

    <h2> ДОСТУП К ЛИЧНОЙ ИНФОРМАЦИИ </h2>
    <div class="block-text3">
        <div>
            В соответствии с Федеральным законом РФ № 152-ФЗ «О персональных данных» вся собранная, 
            хранящаяся и обработанная информация о Пользователях считается информацией ограниченного доступа, 
            если иное не установлено законодательством Российской Федерации. 
            ООО «Ann» принимает на себя обязательства сохранения конфиденциальности персональных данных
            Пользователя с принятием мер по защите персональных данных от несанкционированного доступа к ним третьих лиц.
            ООО «Ann» обязуется принимать все разумные меры по защите персональной информации Пользователей от уничтожения, 
            искажения или разглашения, однако ООО «Ann» не гарантирует безопасность передаваемых данных вне зоны 
            контроля ООО «Ann».
            Пользователь вправе самостоятельно вносить изменения/дополнения в личную информацию через свой профиль на Сайте.
        </div>
    </div>



</div>

{% endblock main_content %}