{% extends "base.html" %}
{% block main_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/c_room.css' %}" />

<div class="t-h">Общий чат</div>
<div class ="ocn">
<div class = 'user-list'>
    <h3>Пользователи в чате:</h3>
    <ul> 
        {% for user in users %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
</div>

<div id="messages" class = "messages">
    {% for message in messages %}
        <div class= "message">
            <div class ="message-u">от {{ message.sender.username }}</div> 
           <div class = "text"> {{ message.content }} <div>
        </div>
        <em class = "message-u">{{ message.timestamp }}</em>
    {% endfor %}
</div>

<div class = "form-ch">
<form method="post">
    {% csrf_token %}
    <textarea name="content" required></textarea>
    <button type="submit" class'c-a'>Отправить</button>
</form>
<div>
{% endblock main_content %}
