<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page1</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>
<body>
    <image src="{% static 'images/fon_news.jpg' %}" class="background-image">
<ul class="nav">
    <img src="{% static 'icon/iconbase1.png' %}">
    <li><a href="{% url 'hanger_home' %}">hanger</a></li>
    <li><a href="{% url 'fashion_news' %}">Модные тенденции</a></li>
    <li><a href="#">Подборка образов</a></li>
    <li><a href="#">Вход</a></li>
  </ul>

{% block main_content %}

<!--Содержимое страницы-->

{% endblock main_content %}

<footer>
    <div class="footer">
    <div class="row">
    <a href="#"><img src="{% static 'icon/icons8-instagram-50.png' %}">
    <a href="#"><img src="{% static 'icon/icons8-логотип-telegram-50.png' %}">
    <a href="#"><img src="{% static 'icon/icons8-whatsapp-50.png' %}">
    <a href="#"><img src="{% static 'icon/icons8-facebook-новый-50.png' %}">
    <div class="row">
    <ul>
        <li><a href="/user_agreement/">Пользовательское соглашение</a></li>
        <li><a href="/legal_information/">Правовая информация</a></li>
        <li><a href="/privacy_policy/">Политика конфиденциальности</a></li>
    </ul>
    </div>
    
    <div class="row">
    INFERNO Copyright © 2024 Inform - All rights reserved || Designed By: Ann Planida 
    </div>
    </div>
    </footer>
</body>
</html>